h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(179, 32, 32);
    display: flex;
    justify-content: center;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

.grid {
    
    height: 450px;
    width: 450px;
    border: 1px solid black;
    display: grid;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.size-button {
    margin: 10px;
}

.info {
    display: flex;
    justify-content: center;
}

.colors {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.black,.red,.rainbow,.eraser {
    margin: 10px;
}

.on-or-off {
    display: flex;
    justify-content: center;
}